<%# CSS・・・assets/stylesheets/shared/header.css %>
  <body>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © kamon-commu All rights reserved.</p>
    </footer>
  </body>
